
.text {
    font-family: 'Microsoft YaHei', Arial, sans-serif;
}

.content-cont{
    max-height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: lightblue;
}

.app-cont{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
.display-cont{
    height: 480px;
    width: 980px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    margin-right: 10px;
    flex-direction: column;
}

.config-cont{
    height: 480px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    margin-left: 10px;
    flex-direction: column;
}

.robot-cam{
    height: 250px;
    width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 10px;
}

.user-cam{
    height: 250px;
    width: 475px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.bar-cont{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 25px    ;
}

.cam-cont{
    height: 250px;
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;   
}

.connect-robot{
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow; 
}

.robot-image{
    height: 200px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup-robot{
    margin-top: 10px;
    height: 260px;
    width: 350px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    background-color: white; 
}

.robot-setup{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: 80px;
    height: 80px;
}
.image-robot{
    width: 220px;
    height: 150px;
}

.form-cont{
    height: 140px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.flash-message {
  position: relative;
}
.close-flash {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.close-flash:hover {
  opacity: 1;
}
.group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
